{% include 'admin/header.html' %} 
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">GENRE LIST</h6>
                            <table class="table">
                            <thead>
                        <tr>
                          <th>ID</th>
                          <th>GENRE NAME</th>
                          <th>EDIT</th>
                          <th>DELETE</th>
                        </tr>
                      </thead>
                                <tbody>
                                    {% for d in gen %}
                                    <tr>
                                        
                                        <td>{{forloop.counter}}</td>
                                       <td>{{d.genrename}}</td>
                                        <td><a href="{% url 'editgenre' genreid=d.genreid %}"
                                            onclick="return confirm('Do you want to edit?')" class="btn btn-secondary">Edit</a></td>
                                        <td><a href="{% url 'deletegenre' genreid=d.genreid %}"
                                            onclick="return confirm('Do you want to delete?')" class="btn btn-danger">Delete</a></td>    
                                        
                                    </tr>
                                   {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% include 'admin/footer.html' %}