{% include 'admin/header.html' %} 
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">MOVIE VIEW</h6>
                            <table class="table">
                            <thead>
                        <tr>
                          <th>ID</th>
                          <th>TITLE </th>
                          <th>GENRE</th>
                          <th>LANGUAGE</th>
                          <th>RELEASE_YEAR</th>
                          <th>DESCRIPTION</th>
                          <th>DURATION</th>
                          <th>POSTER</th>
                          <th>RATING</th>
                          <th>EDIT</th>
                          <th>DELETE</th>
                        </tr>
                      </thead>
                                <tbody>
                                    {% for m in mov %}
                                    <tr>
                                        
                                        <td>{{forloop.counter}}</td>
                                       <td>{{m.moviename}}</td>
                                       <td>{% if m.genreid %}{{ m.genreid.genrename }}{% endif %}</td>
                                       <td>{{m.language}}</td>
                                       <td>{{m.releaseyear}}</td>
                                       <td>{{m.description|truncatechars:80}}</td>
                                       <td>{{m.duration}}</td>
                                       <td>{% if m.poster %}<img src="{{ m.poster.url }}" alt="Poster" style="width: 100px; height: auto;">{% endif %}</td>
                                       <td>{{m.rating}}</td>

                                        <td><a href="{% url 'editmovie' movieid=m.movieid %}"
                                            onclick="return confirm('Do you want to edit?')" class="btn btn-secondary">Edit</a></td>
                                        <td><a href="{% url 'deletemovie' movieid=m.movieid %}"
                                            onclick="return confirm('Do you want to delete?')" class="btn btn-danger">Delete</a></td>    
                                        
                                    </tr>
                                   {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
{% include 'admin/footer.html' %}